.input-wrap{
    display : flex;
    justify-content: center;
    width : 100vw;
}

.wrap{
    display : flex;
    position : relative;
    height : 50px;
    width : 500px;
    margin : auto;
    justify-content : center;
}

.icon-wrap {
    position : absolute;
    height : 100%;
    width : 40px;
    font : 30px;
    display : flex;
    justify-content : center;
    align-items : center;
}





 @import "tailwindcss";

 
body {
    font-family: "Poppins" , "Sans-serif";
    
}

 @layer utilities {
  .tracking-custom {
    letter-spacing: -0.17px;
  }
  .leading-custom {
    line-height: 18px;
  }
}

@theme {
  --color-primary-blue: #0081FF;
  --color-primary-black: #2A2A2A;
  --color-primary-gray: #767676;
  --color-gray-bg: #F5F5F5;
}